/* +-+-+-+-+-+ Display da home 1 +-+-+-+-+-+-+-+ */

.main-content-container {
margin: auto;
}

.main-content {
padding-top: 0;
}

.main-content-list {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
gap: var(--spacing-gutter-large);
}

.recipe-list-item {
max-width: 30rem;


}

.recipe-list-item:hover {
transform: scale(1.02);
box-shadow: 8px 8px 18px rgba(0, 0, 0, .25);

}

.recipe {
background: white;
box-shadow: -5px 5px 10px rgba(0, 0, 0, .2);
transition: all 300ms ease-in-out;
}

.recipe img {
max-width: 100%;

}

.recipe-title-content {
text-align: center;
padding: 2rem;
}

.recipe-author {
font-size: 1rem;
padding-left: 2rem;
padding-top: 0%;
}

.recipe-author,
.recipe-author-item,
.recipe-author-item {
margin-right: 1rem;

}

.recipe-author-item a {
text-decoration: none;
}

.recipe-author-item a:hover {
color: black;
transition: all 300ms ease-in-out;
text-decoration: underline;
}

.receita-txt {
font-size: 0.9rem;
padding: 2rem;
}

.recipe-meta-container {
display: flex;
font-size: 17px;
flex-flow: row wrap;
background: var(--color-gray-1);
display: flex;
padding:2rem 2rem 2rem 2rem ;
}

.recipe-meta,
.recipe-preparation {
margin-right: 2rem;
margin-left: 3rem;
}

.recipe-footer {
background: black;
text-align: center;
padding: 15px 1em 1em 1em;
font-size: 1.3rem;
margin: auto;

}

.recipe-footer a {
color: white;
text-decoration: none;
}

.recipe-footer a:hover {
text-decoration: underline;
}