{% include 'recipes/partials/head.html' %}

<body>
                                 <!--Titulo da pagina e o ICON-->

    <header class="main-header-container">
        <div class="main-header container">
            <h1>
                <a class="main-logo" href="/">
                    <i class="fas fa-utensils main-logo-icon"></i>
                    <span class="main-logo-text">Recipes</span>
                </a>
            </h1>
        </div>

    <div class="serach-container">
        <div class="container">
            <form action="" class="serach-form">
            <input type="serach" class="serach-input" name="search">
            <button type="submit" class=serach-butthon><i class="fas fa-search"></i></button>
            </form>
        </div>
</div>

</body>

</html>