
        /*-+-++-+-+-+-+-+ -+ Input da home -+-+-+-+-+-+-+-+ +*/

        .container {
            max-width: 144rem;
            margin: 0 auto;
            padding: var(--spacing-gutter-medium);
        }

        .main-header-container {
            background: var(--color-primary-dark);
        }

        .main-logo {
            font-size: 4rem;
            color: var(--color-white);
            text-decoration: none;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
            width: fit-content;
            margin: 0 auto;
        }


        .main-logo-icon {
            margin-right: 2rem;
        }

        .search-form {
            border: 2px #000 solid;
            max-width: 25rem;
            position: relative;
            margin: 0 auto;
            border-radius: 13px;
            background: white;

        }

        .search-input {
            width: 90%;
            height: 37px;
            border-radius: 13px;
            border: white;
        }

        .search-input,
        .search-button {
            margin: 0 auto;
            position: center;
            border: none;
        }

        .search-button:focus-within {
            border: #000;
            color: var(--color-debug-dark);
        }